<div class="container">
  <mat-toolbar class="toolbar-personalizado">
    <span>Usuarios</span>
  </mat-toolbar>

  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ej. juan" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Position Column -->
      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario</th>
        <td mat-cell *matCellDef="let element"> {{ element.usuario }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
        <td mat-cell *matCellDef="let element"> {{ element.nombre }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido</th>
        <td mat-cell *matCellDef="let element"> {{ element.apellido }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="sexo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexo</th>
        <td mat-cell *matCellDef="let element"> {{ element.sexo }}</td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" style="text-align: right">
          <a class="pointer" style="color:#05163a;">
            <mat-icon matTooltip="Ver usuario">search</mat-icon>
          </a>
          <a class="pointer" style="color:#344709;">
            <mat-icon matTooltip="Editar usuario">edit</mat-icon>
          </a>
          <a class="pointer" (click)="eliminarUsuario(element.usuario)" style="color:#af2b2b;">
            <mat-icon matTooltip="Eliminar usuario">delete</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          @if (input.value) {
            No se encontraron datos que coincidieran con el filtro
          } @else {
            No hay datos disponibles.
          }
        </td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

</div>
